<%= form_with(model: @power, local: true ,url: choose_new_or_edit_powers) do |form| %>
<% if @power.errors.any? %>
    <div id="error_explanation">
      <h2><%= @power.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @power.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="power_genre">
    <%= form.label :ジャンル %>
    <br>
    <%= form.text_field :genre %>
  </div>
  <div class="power_power">
    <%= form.label :ちから %>
    <br>
    <%= form.text_field :power %>
  </div>
  <div class="power_address">
    <%= form.label :地域 %>
    <br>
    <%= form.text_field :address %>
  </div>
  <br>
  <%= form.submit %>
<% end %>
<br>
<%= link_to "一覧画面にもどる", powers_path %>
