<h3>以下の内容で、送信する。</h3>
<%= form_with(model: @power, local: true) do |form| %>
  <%= form.hidden_field :genre %>
  <%= form.hidden_field :power %>
  <%= form.hidden_field :address %>
  <p>ジャンル:<%= @power.genre %></p>
  <p>ちから:<%= @power.power %></p>
  <p>住所:<%= @power.address %></p>
  <%= form.submit  "登録する" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>
