<h4>詳細画面</h4>

<div class="container">
  <div class="row">
<div class="col-xs-4">
<p>登録済のちから</p>
</div>
<div class="col-xs-4">
  <p>ちから詳細</p>
<p>ジャンル: <%= @power.genre %></p>
<p>ちから: <%= @power.power %></p>
<p>住所: <%= @power.address %></p>
<p>登録者: <%= @power.user.name %></p>

<% if @power.user.id != current_user.id %>
  <%= link_to 'この人にメッセージを送る', conversations_path(sender_id: current_user.id, recipient_id:@power.user.id), method: :post %>
<% end %>

</div>
<div class="col-xs-4">
  <p>せんすへの登録状況</p>
</div>

</div>
</div>
</div>
