<%= form_with(model: @current_issue, local: true, url: choose_new_or_edit_current_issues do |form| %>
  <% if @current_issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= @current_issue.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @current_issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="container">
    <div class="row">







<div class="col-xs-6">
  <div class="current_issue_genre">
    <%= form.label :ジャンル %>
    <br>
    <%= form.text_field :genre %>
  </div>
  <div class="current_issue_title">
    <%= form.label :タイトル %>
    <br>
    <%= form.text_field :title %>
  </div>
  <div class="current_issue_issue">
    <%= form.label :内容 %>
    <br>
    <%= form.text_field :issue %>
  </div>
  <div class="current_issue_taker">
    <%= form.label :困っている人 %>
    <br>
    <%= form.text_field :taker %>
  </div>
  <div class="current_issue_giver">
    <%= form.label :助けることができるだろう人・ちから %>
    <br>
    <%= form.text_field :giver %>
  </div>

  </div>

  <div class="col-xs-6">

  <div class="current_issue_idea">
    <%= form.label :考えられる解決策 %>
    <br>
    <%= form.text_field :idea %>
  </div>
  <div class="current_issue_address">
    <%= form.label :地域 %>
    <br>
    <%= form.text_field :address %>
  </div>
  <br>
  <br>
  <br>
  <%= form.submit :登録 %>
<% end %>

</div>
</div>

</div>

<div class="toukou"><button type="button" class="btn-outline-primary"><%= link_to 'いま一覧画面に戻る', current_issues_path %></button></div>
