<h1>いまある社会課題</h1
<p><%= notice %></p>



<h2>gmap</h2>
<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>
let map

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 40.7828, lng:-73.9653},
    zoom: 12,
  });

  marker = new google.maps.Marker({
    position:  {lat: 40.7828, lng:-73.9653},
    map: map
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>




<h1>一覧</h1>
<table>
  <tr>
    <th>タイトル</th>
    <th>課題</th>
  </tr>
<% @current_issues.each do |issue| %>
  <tr>
    <td><%= issue.title %></td>
    <td><%= issue.issue %></td>
    <td><%= link_to '詳細を確認する', current_issue_path(issue.id) %></td>
    <td><%= link_to "編集する", edit_current_issue_path(issue.id) %></td>
    <td><%= link_to '削除する', current_issue_path(issue.id), method: :delete, data: { confirm: '本当に削除していいですか？' }  %></td>
  </tr>
<% end %>
</table>

<br>
<%= link_to '新しく課題を投稿する', new_current_issue_path %>
