<h1>課題詳細画面</h1>
<p>ジャンル:<%= @current_issue.genre %></p>
<p>タイトル: <%= @current_issue.title %></p>
<p>課題: <%= @current_issue.issue %></p>
<p>登録者: <%= @current_issue.user.name %></p>
<p>困っている人:<%= @current_issue.taker %></p>
<p>助けることができるだろう人・ちから:<%= @current_issue.giver %></p>
<p>考えられる解決策:<%= @current_issue.idea %></p>
<p>地域:<%= @current_issue.address %></p>
