
<p><%= notice %></p>

<div class="container">
  <div class="row">
<div class="col-xs-6"><%= image_tag 'kaname.jpg', size: "300x300"%><p>せんす</p></div>
<div class="col-xs-6">
<h3>せんす一覧</h3>
<table>
  <tr>
    <th>タイトル</th>
    <th>アイディア内容</th>
    <th>欲しい骨</th>
  </tr>

  <% @ideas.each do |idea| %>
    <tr>
      <td><%= idea.title %></td>
      <td><%= idea.idea %></td>
      <td><%= idea.expected_power %></td>


    </tr>
  <% end %>



</table>
</div>
</div>
</div>
<br>
<!-- <div class="toukou"><button type="button" class="btn-outline-primary"><%= link_to 'せんすの要を提案する', new_current_issue_idea_path %></button></div> -->
