<p id="notice"><%= notice %></p>

<h4>詳細画面</h4>

<div class="container">



    <div class="row">

  <div class="col-xs-4">
  <div class="future_vision-text">
    <p><strong>ジャンル</strong>: <%= @future_vision.genre %></p>
    <p><strong>タイトル</strong>：<%= @future_vision.title %></p>
    <p><strong>ビジョン</strong>：<%= @future_vision.vision %></p>
    <p><strong>登録者</strong>: <%= @future_vision.user.name %></p>
    <p><strong>ビジョンを達成できるであろう人・ちから</strong>: <%= @future_vision.expected %></p>
    <p><strong>考えられる達成方法</strong>: <%= @future_vision.possible_method %></p>
    <p><strong>場所</strong>: <%= @future_vision.address %></p>

<%#
link_to '編集', edit_future_vision_path(@future_vision)  %>
    <%= link_to '戻る', future_visions_path %>
  </div>
  </div>
  <div class="col-xs-4">
  <p>コメント一覧</p>
  <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
  <div id="comments_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/index', locals: { comments: @comments, future_vision: @future_vision } %>
  </div>
  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/form', locals: { comment: @comment, future_vision: @future_vision } %>





</div>
  <div class="col-xs-4">
    <!-- <p>提案されたせんす</p> -->

  </div>
</div>
</div>
